<%- include('../includes/header'); -%>

  <main id="contact">
    <h1 class="lg-heading">
      Contact
      <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
      This is how you can reach me...
    </h2>
    <div class="boxes">
      <div>
        <a mailto="oludavidconnect@gmail.com">
          <span 
            alt="email"
            class="text-secondary" 
          >Email: 
          </span>oludavidconnect@gmail.com 
        </a>
      </div>
      <div>
        <span alt="call me" class="text-secondary">Phone: </span> (070) 3 165 3411
      </div>
      <div>
        <span alt="Port Harcout, Nigeria" class="text-secondary">Address: </span> Lagos State, Nigeria
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>
