<%- include('../includes/header'); -%>

<main id="work">
  <h1 class="lg-heading">
    My
    <span class="text-secondary">Work</span>
  </h1>
  <h2 class="sm-heading">Check out some of my projects...</h2>
  <div class="projects">
    <div class="item">
      <a href="https://staging.devprofile.io/" target="_blank">
        <img src="../assets/img/projects/devprofile.png" alt="Project" />
      </a>
      <a
        href="https://staging.devprofile.io/"
        target="_blank"
        class="btn-light"
      >
        <i class="fas fa-eye"></i>Devprofile (On-going)
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark"> <i class="fab fa-github"></i> Github </a>
    </div>
    <div class="item">
      <a href="https://sportprojet.herokuapp.com" target="_blank">
        <img
          src="../assets/img/projects/Sport Academy.png"
          target="_blank"
          alt="Sport Academy Project"
        />
      </a>
      <a
        href="https://sportprojet.herokuapp.com"
        target="_blank"
        class="btn-light"
      >
        <i class="fas fa-eye"></i> Sport Academy
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark"> <i class="fab fa-github"></i> Github </a>
    </div>
    <div class="item">
      <a href="https://cloudmallng.herokuapp.com/" target="_blank">
        <img
          src="../assets/img/projects/cloudmall.png"
          target="_blank"
          alt="A resource firm that seamlessly 
          link professionals to clients"
        />
      </a>
      <a
        href="https://cloudmallng.herokuapp.com/"
        target="_blank"
        class="btn-light"
      >
        <i class="fas fa-eye"></i> CloudMall (Mobile View available)
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark"> <i class="fab fa-github"></i> Github </a>
    </div>
    <div class="item">
      <a
        href="https://fast-todoapp.netlify.com/?_ga=2.31729853.2067224375.1585528949-1669043167.1585528949"
        target="_blank"
      >
        <img src="../assets/img/projects/todo.png" alt="Project" />
      </a>
      <a
        href="https://fast-todoapp.netlify.com/?_ga=2.31729853.2067224375.1585528949-1669043167.1585528949"
        target="_blank"
        class="btn-light"
      >
        <i class="fas fa-eye"></i> Todo App
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark"> <i class="fab fa-github"></i> Github </a>
    </div>

    <div class="item">
      <a href="https://konga-demo.herokuapp.com/" target="_blank">
        <img src="../assets/img/projects/konga-demo.png" alt="Konga-demo" />
      </a>
      <a href="https://konga-demo.herokuapp.com/" class="btn-light">
        <i class="fas fa-eye"></i> Konga Demo(ongoing project)
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>

    <div class="item">
      <a href="https://remote-ok-demo.vercel.app/" target="_blank">
        <img src="../assets/img/projects/remoteok.png" alt="Konga-demo" />
      </a>
      <a href="https://remote-ok-demo.vercel.app/" class="btn-light">
        <i class="fas fa-eye"></i> Remoteok-demo (ongoing project)
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>

    <div class="item">
      <a href="https://groceriesabc.vercel.app/" target="_blank">
        <img src="../assets/img/projects/groceriesabc.png" alt="Konga-demo" />
      </a>
      <a href="https://groceriesabc.vercel.app/" class="btn-light">
        <i class="fas fa-eye"></i> Groceriesabc (ongoing project)
      </a>
      <a href="https://github.com/BisiDavi" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
  </div>
</main>
<%- include('../includes/footer'); -%>
